main {
	width: 100%;
	float: left;
	background: #e6e6e6;
	border: 1px solid black;
	padding-bottom: 1%;
}

#month {
	text-align: center;
}

.grid-containeroutline {
	width: 95%;
	display: block;
	margin: 0 auto;
}

[class*='col-row'] {
	float: left;
	min-height: 1px; 
	width: 13.9%;
	height: 8%;
	padding-bottom: 4%; 
	border: 1px solid #000000;
}
.col-row1 {
	padding-bottom: 1%;
}

.anotherMonth {
	color: #145252;
}

.imgCal {
	position: absolute;
	width: 8%;
	height: 8%;
	margin-left: 3%;
	margin-top: -0.1%;
}

@media screen and (max-width: 1000px) {
	
	.start {
		width: 17.9%;
	}
	
	.imgCal {
		height: 6.74%;
	}
}

@media screen and (max-width: 625px) {
	
	[class*='col-'] { 
		width: 13%;
	}
	
	.grid-containeroutline {
		width: 90%;
	}
	
	.start {
		width: 17.4%;
	}
	
	.imgCal {
		width: 7%;
		height: 5.2%;
	}
}

@media screen and (max-width: 575px) {
	
	header {
		opacity: 1.0;
		border-radius: 0%;
		width: 100%;
	}
	
	footer {
		opacity: 1.0;
		border-radius: 0%;
	}
}

@media screen and (max-width: 320px) {
	
	.imgCal {
		width: 22.4px;
		height: 25px;
		margin-left: 9.6px;
		margin-top: 0px;
	}
}